<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Joaquim d'Souza dot com</title>
    <meta name="description" content="Joaquim d'Souza's web presence">
    <meta name="author" content="Joaquim d'Souza">

    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="index.css">
</head>

<body>

<div class="container">

    <%- page %>

</div>

<script src="/global.js"></script>
<script src="index.js"></script>
</body>
</html>