<h1>Hi</h1>
<p>
    I am a full-stack web developer. I was the tech lead on School Cuts, among other things, when I worked for
    Outlandish co-operative. Before that, I was taught how to write good back-end code by Daniel of Twickets, and good
    front-end code by Davy McGeorge.
</p>
<p>
    I take on pro-bono work, at-cost work, and commercial work - all at different rates - but I won't cost more than
    £200/day. As a communist, this still seems like too much, but I've been told that people won't take me seriously
    if I go any lower.
</p>
<ul>
    <li>Email: joaquimds@gmail.com</li>
    <li>Twitter: @joaquimds</li>
</ul>
<p>
    This site is a weird, probably useless, implementation of a static site generator. I knocked it up on 1st August
    2018, for fun. Pros: the data is stored in a database, which I think is a better way to store data than in static
    files. Cons: all the cons of having to set up a database. Also, as with all SSGs, it only works if the source
    files follow a specific pattern. The code can be found on GitHub.
</p>
<% if (message) { %>
<p>Current message for Joaquim:</p>
<a href="/messages/<%= message.id %>.html">
    <%= message.name %>: <%= message.body %>
</a>
<% } %>
<p>
    You can update this message using the form below. Previous messages can be found <a href="/messages">here</a>.
</p>
<form onsubmit="commit()">
    <label for="message">Message</label>
    <input id="message" type="text">
    <button type="submit">Commit</button>
</form>