<header>
    <h1>Joaquim d'Souza's CV</h1>
    <a href="/">Home</a>
</header>
<h2>Work</h2>
<ul>
    <li>2015 - 2018: Senior developer, Outlandish Co-operative</li>
    <li>2014 - 2015: Junior Java developer, Twickets</li>
</ul>
<h2>Education</h2>
<ul>
    <li>Computer Science BA (2:1), Cambridge University</li>
</ul>