@import "../../variables";

html {
  &.inaccessibility-2 {
    font-size: 75%;
  }

  &.inaccessibility-1 {
    font-family: serif;
  }

  &.accessibility-1 {
    .container {
      background-color: $cream;
    }
  }

  &.accessibility-2 {
    color: $darkblue;
  }

  &.accessibility-3 {
    font-family: 'Comic Neue', sans-serif;
    font-size: 125%;
    font-weight: 700;

    a {
      text-decoration: underline;
    }
  }
}
