<div class="accessibility-control">
    <label>Accessibility</label>
    <div class="accessibility-control__buttons">
        <button type="button" id="accessibility-decrease" class="form__button" title="Decrease">&#8722;</button>
        <button type="button" id="accessibility-increase" class="form__button" title="Increase">+</button>
    </div>
</div>