@import "../../variables";

.message {
  border: 1px solid $dark;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  font-weight: normal;
  padding: 1rem;

  &:hover,&:focus,&:active {
    color: black;
    background-color: $medium;
  }

  em {
    margin-bottom: 0.5rem;
  }

  div {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
  }

  small {
    font-size: 75%;
    font-weight: bold;
  }
}