@import "../../node_modules/normalize-scss/fork-versions/default/normalize";

@import "../variables";
@import "../components/accessibility/accessibility";
@import "../components/message/message";
@import "../components/accessibility/control";
@import "../components/forms/forms";

@import "./fonts/font.css";

html {
  font-family: sans-serif;
}

body {
  background-color: $light;
  padding: 1rem;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.header__nav {
  display: flex;
  flex-direction: column;

  a {
    text-decoration: underline;
  }

  @media(min-width: 600px) {
    align-items: center;
    flex-direction: row;

    a {
      margin-left: 1rem;
    }
  }
}

footer {
  text-align: right;
}

h1 {
  font-size: 1.8rem;
  margin: 0.5rem 0;
}

p {
  line-height: 1.5rem;
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;

  &:hover, &:focus, &:active {
    color: $dark;
  }
}

label {
  font-size: 0.75rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

input,textarea {
  background-color: $cream;
  border: 1px solid $dark;
}

.container {
  background-color: white;
  border-radius: 0.25rem;
  max-width: 650px;
  margin: 0 auto;
  padding: 1rem;
}

.hidden {
  display: none;
}
