@import "../../node_modules/normalize-scss/fork-versions/default/normalize";
@import "../components/message/message";

body {
  background-color: #eee;
  font-family: sans-serif;
  padding: 1rem;
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;

  &:hover,&:focus,&:active {
    color: #555;
  }
}

p {
  line-height: 1.5rem;
}

label {
  font-size: 0.75rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.container {
  background-color: white;
  border-radius: 0.25rem;
  max-width: 650px;
  margin: 0 auto;
  padding: 1rem;
}

footer {
  text-align: right;
}