<h1>Message #<%= item.id %></h1>
<div class="message__container">
    <%- include('../../components/message/message.ejs', {message: item}); %>
</div>
<div class="message__link">
    <a href="/messages">View all messages</a>
</div>