.message-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.message-list {
  list-style: none;
  margin-top: 0;
  padding: 0;
}

.message-container {
  margin-bottom: 1rem;
}

.messages-link-container {
  margin-bottom: 0.5rem;
  text-align: center;
}