<header>
    <h1>Messages for Joaquim</h1>
    <a href="/">Home</a>
</header>
<ul class="messages__list">
    <% messages.forEach(message => { %>
    <li class="message__container">
    <%- include('../../components/message/message.ejs', {message}); %>
    </li>
    <% }); %>
</ul>